# Produccion - Neon
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-dark-meadow-anyl6tb3.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# Local
DATABASE_URL=postgresql://ajax_user:1234@localhost:5432/ajax_db
